body 
{
	background-color:#F2F2F2;
	font-family: Times New Roman;
	background-image:url("css/Fondo.jpg"); 
}
#contenido
{
	width: 960px;
	margin: 0 auto;
	text-align :center;
}
h1
{
	color: #000000;
	font-family: 'Merriweather', serif;
}
h2
{
	color:#0000FF;
	font-family: 'Merriweather', serif;
}

img 
{
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 50px;
  line-height: 95px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear, ease-in;
  width: 50px;
}

.imagen
{
width: 160px;
height: 200px;
display:block;
margin:auto;
}


img:hover {
  background: #ff7b29;
  border-radius: 50%;
}

nav ul li
{
	display :inline-block;
	margin-right: 20px;
	cursor: pointer;
	font-family: 'Merriweather', serif;
}
nav ul li:hover
{
	background-color: #d1d1d1;
	color:#FF0000;
	border-radius: 5px;
}
#TextoPrin
{
	width: 430px;
	height: 470px;

	color: #000000;
	border-radius : 40px;
	padding: 20px;
	box-shadow : 0px 0px 20px rgba(0,0,0,0.5);
	margin: 0 auto;
	text-align: left;
	
}

img
{
	width:230px	;
	height: auto;
	border-radius: 10px;
	box-shadow : 0px 0px 20px rgba(0,0,0,1);
}
#Hobbies
{
	width: 350px;
	height: 250px;

	color: #000000;
	border-radius : 40px;
	padding: 20px;
	box-shadow : 0px 0px 20px rgba(0,0,0,0.5);
	margin: 0 auto;
	text-align: center;
}

#TablaProyecto
{
	margin: 50px auto;
	width: 600px;
}

#Video
{
	margin: 50px auto;
	width: 700px;
}

table
{
	background-color: #fff;
	border-collapse:collapse;
	text-align: center;
	width: 100%;
	font-family: Times New Roman;
}
th, td
{
	border : solid 1px black;
	padding: 10px;
	
}
thead
{
	background-color: #2980B9;
	border-bottom: solid 5px #000000;
	color: black ;
	text-align: center;	
}
